
<!----------------------------------HEADING-------------------------->
<p style="font-weight: 500; margin: 12px;">Check your Cities Weather Here!!</p>

<div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        
        <select [(ngModel)]="selectedCity" name="test" class="form-select" aria-label="Default select example" (change)="CallAPI()">
            <option selected>select</option>
            <option value="Chennai">Chennai</option>
            <option value="Bangalore">Bangalore</option>
            <option value="Coimbatore">Coimbatore</option>
            <option value="Madurai">Madurai</option>
          </select>
          <br>
<!----------------------------------BUTTON-------------------------->          
          <button style="margin: 10px;" type="button" routerLink="/home" class="btn btn-dark">Back To Home</button>
             
      </div> 
    </div>
  </div>
  <div>
   
  </div>