<p class="p">Mini Projects!!</p>



<div class="row">
    <div class="col-sm-3 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Weather Report</h5>
          <p class="card-text">Check your Cities Weather Here.</p>
          <a routerLink="/weather" class="btn btn-primary">Check</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Currency</h5>
          <p class="card-text">Check Your Currency Value Here.</p>
          <a routerLink="/currency" class="btn btn-primary">Check</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Temperature</h5>
            <p class="card-text">Check Your Temperature Here.</p>
            <a routerLink="/temperature" class="btn btn-primary">Check</a>
          </div>
        </div>
      </div>
  </div>

  